@{
    ViewData["Title"] = "THALES Site";
}

<div class="text-center">
    <h1 class="display-4">Welcome THALES Employee</h1>
    <p>
        <label for="name">employee id:</label>
    <input type="text" id="name" name="name" required
       minlength="4" maxlength="8" size="10">
        <input class="favorite styled"
               type="button"
               value="Search Employee">
    </p>

    <div class="container">
        <div class="row">
            <div class="col-sm">
                id
            </div>
            <div class="col-sm">
                employee_name
            </div>
            <div class="col-sm">
                employee_salary
            </div>
            <div class="col-sm">
                employee_age
            </div>
            <div class="col-sm">
                profile_image
            </div>
        </div>
    </div>
      
</div>
